html, body {
    margin: 0;
    height: 100vh;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* form styling */

.form-container {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 7px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #bbe4e9;
}

form {
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 0.2fr 0.2fr 0.2fr;
    justify-items: center;
}

.form-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
}

.password-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-input {
    width: 250px;
    border-radius: 7px;
    text-align: center;
}

.form-button {
    width: 150px;
    height: 40px;
    border-radius: 7px;
    font-size: 16px;
    margin: 10px;
}

.error-msg {
    color: red;
}

.error-list {
    width: 200px;
}

.invalid-form-input {
    border-color: red;
}

.valid-form-input {
    border-color: green;
}

/* dashboard styling */

.dashboard-container {
    background-color: white;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.dashboard-sidebar {
    background-color: #C0D6DF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 150px;
    padding: 10px;
}

.link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.nav-item {
    width: 100px;
    text-align: center;
}

.nav-item:hover {
    background-color: #96a8af;
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* MealCard styling */

.card-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.meal-card {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.meal-card-info {
    display: flex;
    gap: 10px;
}

.meal-card-name {
    display: flex;
}